<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>rkit</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/img/rkit.svg" alt="rkit logo" class="logo" />
        <p class="tagline">Dateiformate einfach transformieren</p>
        <div class="formats">
            <span class="format red">PDF</span>
            <span class="format blue">Word</span>
            <span class="format green">Retupe</span>
            <span class="format purple">HTML</span>
            <span class="format pink">PowerPoint</span>
            <span class="format gray">TXT</span>
            <span class="format yellow">XML</span>
        </div>
        <a href="/upload" class="start-button">Jetzt starten <span>&#10140;</span></a>
    </div>
</body>
</html>
